.homelist2{
    margin-bottom:rem(70px);
    background: #eee;
    li{
        display:flex;
        width:rem(320px);
        height:rem(120px);
        margin-top:rem(6px);
        background:#fff;
        width:100%;
        padding-top:rem(5px);
        div{
            padding-left:rem(10px);
            p:first-of-type{
                font-size:rem(14px);
                margin-bottom:rem(30px);
            }
            p:nth-of-type(2){

                font-size:rem(14px);
                color:#f06; 
                span:first-of-type{
                    // color:#f60; 
                    font-size:rem(22px);
                    margin-right:rem(5px);
                }
                span:nth-of-type(2){
                    color:#999; 
                    font-size:rem(12px);
                    text-decoration:line-through;
                }
            }
            p:last-of-type{
                font-size:rem(12px);
                color:#999; 
            }
        }
        
    }
    
}