.searchto{
        width:rem(375px);
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        z-index:99;
        background:#fff;
        color:#666;


    .searchto_head{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-bottom:rem(8px);
        font-size: rem(18px);
        padding:rem(10px);

        i{
            padding-left:rem(10px);
            margin:0 rem(10px);
            color:#ccc;            
        }
        .search_div{
            display:flex;
            justify-content: center;
            align-items:center;
            border-radius:rem(15px);
            width: rem(280px);
            text-align:center;
            background: #eee;
            height:rem(30px);
            i{font-size:rem(14px);}
            input{
            background: #eee;
            border:0 none;
            // margin-left: rem(28px);
            padding:0 rem(15px);
            font-size: rem(14px);

            }
        }
    
        span{
            font-size:rem(14px);
            width:rem(50px);
            color:#999;
            padding:rem(6px) rem(5px) 0 0 ;
            margin:0 rem(5px);

        }
    }



}
