
ul.slider2{
    width:rem(315px);
    position:absolute;
    top:rem(48px);
    left:0;
    li{
        height:rem(48px);
        margin-bottom:rem(5px);
        background: #eee;
        padding-left:rem(35px);
    }
}
