  .slider{
        width:rem(315px);
        position:fixed;
        top:0;
        left:rem(60px);
        bottom:0;
        z-index:999;
        background:#fff;
        color:#666;
        overflow-y:scroll;
    .search{
        margin-bottom:rem(8px);
        input{
            margin:0 rem(20px) rem(8px) rem(15px);
        }
        span{
            font-size:rem(14px);
            width:rem(50px);
            color:#999;
            padding:rem(6px) rem(5px) 0 0 ;
        }
    }

    li{
        // height:rem(50px);
        // display:flex;
        // justify-content: space-between;
                   
        font-size:rem(14px);
        // align-items: center;
        border-bottom:1px dotted #ccc;
        // position:relative;
       
        p{
             padding:  rem(16px) rem(16px) 0  rem(16px); 
             display:flex;
             justify-content:space-between;
           i{
            height:rem(30px);
            } 
        }
        
        // ul.slider2{
        //     width:rem(315px);
        //     position:absolute;
        //     top:rem(48px);
        //     left:0;
        //     li{
        //         height:rem(48px);
        //         margin-bottom:rem(5px);
        //         background: #eee;
        //         padding-left:rem(35px);
        //     }
        // }
    }  
    li:first-of-type{
        border-top:1px dotted #ccc;

    }
}
 .mask{
        position:fixed;
        top:0;
        right:0px;
        bottom:0px;
        left:0px;
        z-index:99;
        background:rgba(0, 0, 0, 0.5);
}
.red{
        color:#f60;
}
