.header{
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: rem(42px);
	padding:0 rem(20px);
	position:absolute;
	top:0;
	left:0;
	right:0;
	i,span{
		font-size: rem(14px);
		display: flex;
		align-items: center;
		justify-content: center;

	}
	i{
		color:#ccc;
		font-size: rem(20px);
	}
}
