.header{
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: rem(42px);
	padding:0 rem(20px);
	i,span{
		font-size: rem(18px);
		display: flex;
		align-items: center;
		justify-content: center;

	}
	i{
		color:#ccc;
	}
}
